.requirement {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px #b2b4b7 solid;

  .action {
    margin-left: 2px;
    padding-left: 1em;
    border-left:8px #b2b4b7 solid;

    a {
      font-weight: bold;
    }
  }
}
.requirement:last-of-type {
  border-bottom: 0px;
  margin-bottom: 0px;
}

.instruction {
  background-color: powderblue;
  padding:1em 1em 0.1em 1em;
}