
{% extends "layout.html" %}

{% block pageTitle %}
  When will the goods be imported?
{% endblock %}
{% block beforeContent %}
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a Beta service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
    }) }}
    {{ govukBackLink({
  text: "Back",
  href: "/type-of-trade"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Moving goods from EU countries to Northern Ireland</h1>
      <p>From 1 January 2021, there will be no changes in how qualifying
      Northern Ireland goods move directly from Northern Ireland
      to Great Britain. There will be some changes for qualifying goods moved
      indirectly through Ireland.</p>
      
      <p><a href="xxx">Learn more about trading and moving goods in and out of Northern Ireland</a>.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>

{% endblock %}
